.personal-sub {
  display: flex;
  justify-content: space-evenly;
}

.fullname {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.profession {
  font-size: 15px;
  font-weight: 550;
  text-align: center;
}
